version: 2.1

workflows:
  version: 2
  'Review & Test':
    jobs:
      - 'Danger Automated Code Review'
      - 'Feature Testing'
      - 'UX Regression Testing'

jobs:
  'Danger Automated Code Review':
    docker:
        - image: circleci/node:latest
    steps:

      - checkout

      - run:
          name: Danger
          command: ./scripts/danger.sh


  'Feature Testing':
    machine: true
    steps:

      - checkout

      - run:
          name: Install Docker Compose
          command: |
            curl -L https://github.com/docker/compose/releases/download/1.19.0/docker-compose-`uname -s`-`uname -m` > ~/docker-compose
            chmod +x ~/docker-compose
            sudo mv ~/docker-compose /usr/local/bin/docker-compose

      - run:
          name: Smoke Tests
          command: script -qec './scripts/test.sh'
          environment:
            TEST_DOCKER: local
            TEST_TAGS: '@smoke and not @profiling'

      - store_test_results:
          path: /tmp/dab/test_results
      - run:
          name: Clear test results
          when: on_fail
          command: rm -rf /tmp/dab/test_results || true

      - run:
          name: Acceptance Tests
          command: script -qec './scripts/test.sh'
          environment:
            TEST_DOCKER: local
            TEST_TAGS: '@ci and not @smoke'

      - store_test_results:
          path: /tmp/dab/test_results
      - run:
          name: Clear test results
          when: on_fail
          command: rm -rf /tmp/dab/test_results || true

  'UX Regression Testing':
    machine: true
    steps:

      - checkout

      - run:
          name: Install Docker Compose
          command: |
            curl -L https://github.com/docker/compose/releases/download/1.19.0/docker-compose-`uname -s`-`uname -m` > ~/docker-compose
            chmod +x ~/docker-compose
            sudo mv ~/docker-compose /usr/local/bin/docker-compose

      - run:
          name: UX Regression Tests
          command: script -qec './scripts/ux-test.sh'

      - store_test_results:
          path: /tmp/dab/test_results
      - run:
          name: Clear test results
          when: on_fail
          command: rm -rf /tmp/dabux/test_results || true

      - run:
          name: Profile
          command: script -qec './scripts/test.sh'
          environment:
            TEST_DOCKER: local
            TEST_TAGS: '@profiling'

      - store_test_results:
          path: /tmp/dab/test_results
