version: '3.5'

services:

  aws:
    container_name: dab_aws
    build:
      context: .
      dockerfile: Dockerfile.sam
    labels:
      description: 'AWS command line interface'
    environment:
      HOME:
    env_file:
      - /tmp/denvmux/aws.env
    user: "$DAB_UID:$DAB_GID"
    volumes:
      - "$HOME:$HOME"
      - "$HOST_PWD:$HOST_PWD"
    working_dir: "$HOST_PWD"
    entrypoint:
      - /usr/local/bin/awsv2
    command: '--help'

networks:
  default:
    name: dab_apps
