version: '3.5'

services:

  sam:
    container_name: dab_sam
    build:
      context: .
      dockerfile: Dockerfile.sam
    labels:
      description: 'AWS Serverless Application Model CLI'
    environment:
      HOME:
    env_file:
      - /tmp/denvmux/sam.env
    user: "$DAB_UID:$DAB_DOCKER_GID"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp:/tmp
      - "$HOME:$HOME"
      - "$HOST_PWD:$HOST_PWD"
    working_dir: "$HOST_PWD"
    entrypoint:
      - /usr/local/bin/sam
    command: '--help'

networks:
  default:
    name: dab_apps
