version: '3.5'

services:

  serveo:
    container_name: dab_serveo
    build:
      context: .
      dockerfile: Dockerfile.ssh
    labels:
      description: 'Expose local servers to the internet'
    env_file:
      - /tmp/denvmux/serveo.env
    entrypoint:
      - /usr/bin/autossh
    depends_on:
      - mitmproxy
    command:
      - '-M 0'
      - '-o StrictHostKeyChecking=no'
      - '-R 80:mitmproxy:8080'
      - 'serveo.net'
    tmpfs:
      - /tmp
    tty: true
    stdin_open: true

networks:
  default:
    external: true
    name: lab
