version: '3.5'

services:

  vyne:
    container_name: dab_vyne
    image: "vyneco/vyne:${DAB_APPS_VYNE_TAG:-latest}"
    labels:
      description: 'A platform for automating integration between services'
      com.centurylinklabs.watchtower.enable: 'true'
    restart: on-failure
    expose:
      - 9022
    environment:
      PROFILE: 'embedded-discovery'
    tmpfs:
      - /tmp

networks:
  default:
    name: dab_apps
