---
services:

  sqliv:
    container_name: dab_sqliv
    build:
      context: .
      dockerfile: Dockerfile.sqliv
    networks:
       - lab
    labels:
      description: 'Massive SQL injection vulnerability scanner'
    env_file:
      - /tmp/denvmux/sqliv.env
    tmpfs:
      - /tmp

networks:
  default:
    name: dab_apps
  lab:
    external: true
    name: lab
