version: '3.5'

services:

  mitmproxy:
    container_name: dab_mitmproxy
    image: "mitmproxy/mitmproxy:${DAB_APPS_MITMPROXY_TAG:-latest}"
    labels:
      description: 'HTTP debuging swiss-army knife, connect and go to http://mitm.it to load certs'
      com.centurylinklabs.watchtower.enable: 'true'
    restart: on-failure
    healthcheck:
      test: 'wget --quiet --tries=1 --spider http://localhost:8081'
      interval: 10s
      timeout: 5s
      retries: 3
    volumes:
      - "$HOME/.mitmproxy:/home/mitmproxy/.mitmproxy"
    networks:
      - lab
    env_file:
      - /tmp/denvmux/mitmproxy.env
    expose:
      - 8080
      - 8081
    ports:
      - 8080
      - 8081
    command: mitmweb --web-iface 0.0.0.0 --ssl-insecure
    tmpfs:
      - /tmp

networks:
  lab:
    external:
      name: lab
