version: '3.5'

services:

  elasticsearch:
    container_name: dab_elasticsearch
    image: "docker.elastic.co/elasticsearch/elasticsearch:${DAB_APPS_ELASTICSEARCH_VERSION:-6.4.2}"
    labels:
      description: 'Object-relational database management system'
    restart: on-failure
    env_file:
      - /tmp/denvmux/elasticsearch.env
    environment:
      discovery.type: 'single-node'
      bootstrap.memory_lock: 'true'
      xpack.security.enabled: 'false'
      ES_JAVA_OPTS: '-Xms512m -Xmx512m'
    healthcheck:
      test: 'curl -fsSL "http://localhost:9200/_cat/health?h=status" | grep green'
      interval: 30s
      timeout: 10s
      retries: 3
    tmpfs:
      - /tmp
    networks:
      - default
      - lab

networks:
  default:
    name: dab_apps
  lab:
    external: true
    name: lab
