version: '3.5'

services:

  couchdb:
    container_name: dab_couchdb
    image: "couchdb:${DAB_APPS_COUCHDB_TAG:-latest}"
    labels:
      description: 'JSON Document NOSQL Database'
      com.centurylinklabs.watchtower.enable: 'true'
    volumes:
      - couchdb:/usr/local/var/lib/couchdb
    env_file:
      - /tmp/denvmux/couchdb.env
    expose:
      - 5984
    restart: on-failure
    tmpfs:
      - /tmp
    networks:
      - default
      - lab

volumes:
  couchdb:

networks:
  default:
    name: dab_apps
  lab:
    external: true
    name: lab
