version: '3.5'

services:

  minio:
    container_name: dab_minio
    image: "minio/minio:${DAB_APPS_MINIO_TAG:-latest}"
    labels:
      description: 'S3 compatible object storage server`${DAB_APPS_MINIO_ACCESS_KEY:-access}`${DAB_APPS_MINIO_SECRET_KEY:-secretkey}'
      com.centurylinklabs.watchtower.enable: 'true'
    command:
      - server
      - /data
    env_file:
      - /tmp/denvmux/minio.env
    environment:
      MINIO_ACCESS_KEY: "${DAB_APPS_MINIO_ACCESS_KEY:-access}"
      MINIO_SECRET_KEY: "${DAB_APPS_MINIO_SECRET_KEY:-secretkey}"
    volumes:
      - minio:/data
    expose:
      - 9000
    ports:
      - 9000
    restart: on-failure
    tmpfs:
      - /tmp
    networks:
      - default
      - lab

volumes:
  minio:

networks:
  default:
    name: dab_apps
  lab:
    external: true
    name: lab
