version: '3.5'

services:

  zookeeper:
    container_name: dab_zookeeper
    image: "confluentinc/cp-zookeeper:${DAB_APPS_ZOOKEEPER_TAG:-latest}"
    labels:
      description: 'Distributed configuration service'
      com.centurylinklabs.watchtower.enable: 'true'
    restart: on-failure
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_LOG4J_ROOT_LOGLEVEL: WARN

networks:
  default:
    name: dab_apps
