version: '3.5'

services:

  ntopng:
    container_name: dab_ntopng
    build:
      context: .
      dockerfile: Dockerfile.ntopng
    labels:
      description: 'Monitor network interfaces'
    depends_on:
      - redis
    network_mode: host
    expose:
      - 3000
    restart: on-failure
    command: --redis localhost:16379
    tmpfs:
      - /tmp

networks:
  default:
    name: dab_apps
